html {
	margin: 20px;
	background-color: #51637f;
}

body {
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
   font-weight: 300;
   color: #333;
}

h1 {
	font-size: 50px;
	color: #ffffff;
}

p {
	font-size: 20px;
	color: #ffffff;
}
